@import "tailwindcss";
@source "./dist";

:root {
  --ssovee-primary: 15 23 42;
  --ssovee-secondary: 30 41 59;
  --ssovee-surface-1: 51 65 85;
  --ssovee-surface-2: 40 53 72;
  --ssovee-surface-3: 30 41 59;
  --ssovee-surface-4: 51 65 85;
  --ssovee-brand-color: 59 130 246;
  --ssovee-border-1: 71 85 105;
  --ssovee-muted: 100 116 139;
}
